<div class="row">
  <div id="pictures" class="container-fluid owl-carousel owl-theme">
    <div class="item" id="slide-3"><%= image_tag 'fullimage1.jpg', alt:'Slide1' %></div>
    <div class="item" id="slide-4"><%= image_tag 'fullimage2.jpg', alt:'Slide2' %></div>
    <div class="item" id="slide-5"><%= image_tag 'fullimage3.jpg', alt:'Slide3' %></div>
    <div class="item" id="slide-6"><%= image_tag 'fullimage4.jpg', alt:'Slide4' %></div>
    <div class="item" id="slide-6"><%= image_tag 'fullimage5.jpg', alt:'Slide5' %></div>
  </div>
</div>

<h1 class="text-center">John Olukunle, PhD<br>
  <small>
    Professor of Agricultural Engineering, Nigeria.
  </small>
</h1>


<div class="container">
  <p class="text-justify">
    Praesent egestas neque eu enim. Proin sapien ipsum, porta a, auctor quis, euismod ut, mi. Praesent blandit laoreet
    nibh.Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Donec venenatis vulputate lorem.Morbi mattis
    ullamcorper velit. Quisque id odio. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Fusce ferme.
    Cras id dui.Phasellus accumsan cursus velit. Vivamus quis mi. Nunc sed turpis. Donec elit libero, sodales nec, volut
    pat a, suscipit non, turpis. Phasellus gravida semper nisi.
  </p>
  <br>
  <div class="row text-center">
    <div class="col-sm-4 intro">
      <h4>Who is John Olukunle?</h4>
      <p class="text-justify">
        Donec venenatis vulputate lorem.Morbi mattis ullamcorper velit. Quisque id odio. Aenean leo ligula, porttitor eu,
        consequat vitae, eleifend ac, enim. Fusce ferme. Cras id dui.Phasellus accumsan cursus velit. Vivamus quis mi.
      </p>
    </div>
    <div class="col-sm-4 intro">
      <h4>Current Role</h4>
      <p class="text-justify">
        Morbi ac felis. Aenean imperdiet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
        Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci. Donec
        mi odio, faucibus at, scelerisque quis, convallis in, nisi. Curabitur vestibulum aliquam leo.
      </p>
    </div>
    <div class="col-sm-4 text-center">
      <h4><i class="fa fa-file-pdf-o fa-lg"></i> Download my CV</h4>
      <a href="" class="text-center"><%= image_tag 'cv-img.jpg' %></a>
    </div>
  </div>
  <br>
  <div class="row text-center">
    <h5 class="lead">Recent Research & Publications</h5>

    <div id="publication-slides" class="owl-carousel owl-theme">
      <div class="item">
        <h4>Publication Title 1<br><small>Publication Subtitle</small></h4>
        <br>
        <p>by</p>
        <br>
        <p>Authors</p>
        <br>
        <p>Presented at</p>
        <p>XYZ Conference of ABC People<br>ABC Location, Country.
        </p>
        <br>
        <p class="text-right">Date</p>
      </div>
      <div class="item">
        <h4>Publication Title 2<br><small>Publication Subtitle</small></h4>
        <br>
        <p>by</p>
        <br>
        <p>Authors</p>
        <br>
        <p>Presented at</p>
        <p>XYZ Conference of ABC People<br>ABC Location, Country.
        </p>
        <br>
        <p class="text-right">Date</p>
      </div>
      <div class="item">
        <h4>Publication Title 3<br><small>Publication Subtitle</small></h4>
        <br>
        <p>by</p>
        <br>
        <p>Authors</p>
        <br>
        <p>Presented at</p>
        <p>XYZ Conference of ABC People<br>ABC Location, Country.
        </p>
        <br>
        <p class="text-right">Date</p>
      </div>
      <div class="item">
        <h4>Publication Title 4<br><small>Publication Subtitle</small></h4>
        <br>
        <p>by</p>
        <br>
        <p>Authors</p>
        <br>
        <p>Presented at</p>
        <p>XYZ Conference of ABC People<br>ABC Location, Country.
        </p>
        <br>
        <p class="text-right">Date</p>
      </div>
      <div class="item">
        <h4>Publication Title 5<br><small>Publication Subtitle</small></h4>
        <br>
        <p>by</p>
        <br>
        <p>Authors</p>
        <br>
        <p>Presented at</p>
        <p>XYZ Conference of ABC People<br>ABC Location, Country.
        </p>
        <br>
        <p class="text-right">Date</p>
      </div>
    </div>

  </div>
</div>
