<% provide(:title, 'Contact') %>

<div id="contact-page" class="container-fluid">
  <div class="container">
    <h2 class="contact-header">Contact</h2>
    <div class="row" id="contact">
      <%= render 'shared/flash_msg' %>
      <div class="col-sm-8">
        <div class="jumbotron transparent" id="form">
          <p id="form-instructions" class="text-justify">
            Thank you for visiting my website. If you would love to get in touch, please fill and submit this form.
          </p>
          <%= simple_form_for @contact do |f| %>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, required: true, class: 'form-control', placeholder: 'First and last name please' %>
                    <%= f.label :phone %>
                    <%= f.phone_field :phone, class: 'form-control', placeholder: 'What is your phone number?' %>
                    <%= f.label :email %>
                    <%= f.email_field :email, required: true, class: 'form-control', placeholder: 'What is your email address?' %>
                    <div class= "hidden">
                      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <label for="contact_comments">Comment/Questions:</label>
                  <%= f.text_area :comments, required: true, class: 'form-control', placeholder: 'Write your message here!' %>
                </div>
              </div>
              <%= f.submit 'Submit', class: 'btn btn-primary pull-right' %>
          <% end %>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="jumbotron transparent" id="contact-details">
          <h4><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Locate Us</h4>
          <address>
            <strong>Christ Praise Chapel</strong><br>
            Lorem ipsum<br>
            Dolor amiet Laroebo<br>
            Off FUTA South Gate<br>
            Akure, Nigeria.
          </address>
          <h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Write Us</h4>
          <address>
            <strong>Christ Praise Chapel</strong><br>
            P.O. Box, XYZ<br>
            Line 3<br>
            Akure, Ondo State<br>
            Nigeria.<br>
            <a href="mailto:info@christpraisechapel.org">info@christpraisechapel.org</a>
          </address>
          <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
          <a href="tel:080XABCXYZ">080XABCXYZ</a>
        </div>
      </div>
    </div>
  </div>
</div>