<% provide(:title, 'Contact') %>

<div id="contact-page" class="container-fluid">
  <div class="container">
    <h2 class="contact-header">Contact</h2>
    <div class="row" id="contact">
      <%= render 'shared/flash_msg' %>
      <div class="col-sm-8">
        <div class="jumbotron transparent" id="form">
          <p id="form-instructions" class="text-justify">
            Thank you for visiting my website. If you would love to get in touch, please fill and submit this form.
          </p>
          <%= simple_form_for @contact do |f| %>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, required: true, class: 'form-control', placeholder: 'First and last name please' %>
                    <%= f.label :phone %>
                    <%= f.phone_field :phone, class: 'form-control', placeholder: 'What is your phone number?' %>
                    <%= f.label :email %>
                    <%= f.email_field :email, required: true, class: 'form-control', placeholder: 'What is your email address?' %>
                    <div class= "hidden">
                      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <label for="contact_comments">Comment/Questions:</label>
                  <%= f.text_area :comments, required: true, class: 'form-control', placeholder: 'Write your message here!' %>
                </div>
              </div>
              <%= f.submit 'Submit', class: 'btn btn-primary pull-right' %>
          <% end %>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="jumbotron transparent" id="contact-details">
          <h4><span class="fa fa-work fa-2x" aria-hidden="true"></span> Office Address</h4>
          <address>
            <strong>The Head of Department</strong><br>
            Agricultural Engineering Department<br>
            The Federal University of Technology<br>
            Akure, Ondo State<br>
            Nigeria.<br>
            <span class="fa fa-envelope fa-lg" aria-hidden="true"></span><a href="mailto:"> johnolukunle@gmail.com</a>
          </address>
          <span class="fa fa-mobile-phone fa-lg" aria-hidden="true"></span>
          <a href="tel:080XABCXYZ"> 080XABCXYZ</a>
        </div>
      </div>
    </div>
  </div>
</div>